{% extends 'base/base.html'%}
{% block content %}
<div class="row">
    <!--load left side bar-->
    {% include './leftsidebar.html' %}
    <!--right side bar -->
    <div class="col-md-10">
      <h3>All Category</h3>
     
     
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{message}}</p>
        </div>
        
        {% endfor %}
        {% endif %}
 
      
     
      
   

      <a href="{% url 'add_categories'%}" class="btn btn-primary text-light float-right mb-2"> Add Category </a>
       <table class="table table-hover">
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Category Name</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for cat in categories %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{cat.category_name}}</td>
      <td>{{cat.created_at}}</td>
      <td>{{cat.updated_at}}</td>
      <td>
        <a href="{% url 'edit_categories' cat.id %}"><i class="fa fa-edit text-success"></i></a>&nbsp;&nbsp;
        <a href="{% url 'delete_categories' cat.id %}"><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
    {% endfor %}
  
    
  </tbody>
</table>

    </div>

</div>
  
{% endblock %}