{% extends '../base/base.html' %}

{% block content %}
<div class="row">
    <!--load left side bar-->
    {% include './leftsidebar.html' %}
    {% load crispy_forms_tags %}
    <!--right side bar -->
    <div class="col-md-10">
        <h5> Edit Users</h5>
         {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{message}}</p>
        </div>
        
        {% endfor %}
        {% endif %}
        <form action="{% url 'edit_users' user.id %}" method="POST" style="margin:auto;" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}

            <button type="submit" class="btn btn-primary text-light float-right mb-2">Save</button>
        </form>
    </div>
    
    </div>
{% endblock %}